<table border="1">
    <tr>
        <td>id</td>
        <td>Name</td>
        <td>detail</td>
    </tr>


    @foreach (var product in ViewBag.products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td><a asp-controller="abc" asp-action="index4" asp-route-id="@product.Id" asp-route-username="lesi">detail</a></td>
        </tr>
    }
</table>