<p>index5</p>
<a asp-controller="abc" asp-action="xyz">aaa</a>
<a asp-controller="abc" asp-action="index2" asp-route-id="123">menu2</a>
<a asp-controller="abc" asp-action="index4" asp-route-id="123" asp-route-username="lesi">menu3</a>